:root {
	--ion-font-family: "My Custom Font";
	--ion-color-favorite: rgba(255, 255, 255, 0.5);
	// --ion-color-favorite-rgb: 255,255,255;
	// --ion-color-favorite-contrast: #000;
	// --ion-color-favorite-contrast-rgb:0,0,0;
	// --ion-color-favorite-shade: #5ca56c;
	// --ion-color-favorite-tint: #78c288;
}

ion-picker {
	--backdrop-opacity: 0.75;
	--border-color: #00897b;
	--height: 20%;
	--color: black;
}

.ion-color-favorite {
	--ion-color-base: var(--ion-color-favorite);
	--ion-color-base-rgb: var(--ion-color-favorite-rgb);
	--ion-color-contrast: var(--ion-color-favorite-contrast);
	--ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
	--ion-color-shade: var(--ion-color-favorite-shade);
	--ion-color-tint: var(--ion-color-favorite-tint);
}

@font-face {
	font-family: "My Custom Font";
	font-style: normal;
	font-weight: normal;
	src: url("../../assets/fonts/baloo-500.woff2");
}

@font-face {
	font-family: "My Custom Font";
	font-style: normal;
	font-weight: bold;
	src: url("../../assets/fonts/baloo-700.woff2");
	color: rgba(0, 0, 0, 0.5);
}

@font-face {
	font-family: "My Custom Font";
	font-style: italic;
	font-weight: normal;
	src: url("../../assets/fonts/baloo-400.woff2");
}

@font-face {
	font-family: "My Custom Font";
	font-style: italic;
	font-weight: bold;
	src: url("../../assets/fonts/baloo-700.woff2");
}
ion-fab-button {
	--background: none;
	background-color: black;
	opacity: 0.5;
	border: thin;
	border-radius: 50%;
}
// ion-content{
//   // --background: none;
//   // background-color:#00897B;
//   // background-image: url('../../assets/maybeback.jpeg');
//   // background-position: center center;
//   // background-repeat: no-repeat;
//   // background-size: cover;
// }

.top-bar {
	margin-top: 2.5%;
}

#questionandanswer {
	left: 0;
	right: 0;
}

#question {
	text-align: center;
	font-size: 180%;
	padding: 3% 7.5% 3% 7.5%;
	font-weight: 800;
	color: rgba(0, 0, 0, 0.65);
	margin-top: 2.5%;
	word-spacing: 0.3rem;
}

p {
	color: rgba(255, 255, 255, 0.5);
}

.answertext,
.answertext:hover,
.answertext:active {
	letter-spacing: 0.35rem;
	font-size: 75%;
	color: white;
	margin: auto;
}

.categorytext,
.categorytext:hover,
.categorytext:active {
	font-size: 115%;
	color: black;
	font-weight: 600;
	opacity: 0.75;
	letter-spacing: 0.3rem;
	text-align: center;
	margin: 2%;
	margin-bottom: 7.5%;
}

.answer {
	margin: 2% 2.5% 2% 2.5%;
	background-color: black;
	opacity: 0.5;
	border: 0.2rem;
	border-radius: 1.5rem;
	padding: 5%;
	padding-top: 10%;
	padding-bottom: 10%;
	height: 7.5%;
}

.category {
	margin: 5% 17.5% 5% 17.5%;
	background-color: black;
	opacity: 0.5;
	border: 0.2rem;
	border-radius: 1.5rem;
	padding: 3.5%;
	padding-top: 7.5%;
	padding-bottom: 7.5%;
	height: 5%;
	width: 65%;
}

.answer:hover {
	background-color: black;
	opacity: 0.7;
}

.answer:active {
	background-color: black;
	opacity: 0.5;
}

.buttonhm {
	font-size: 100%;
	color: white;
	margin: 2%;
	background-color: black;
	opacity: 0.5;
	border: 0.2rem;
	border-radius: 0.5rem;
}

.points {
	text-align: center;
	color: rgba(0, 0, 0, 0.65);
	font-size: 175%;
	font-weight: 800;
}

.learn,
.skip {
	color: white;
	padding: 5%;
	margin: 2%;
}
