<ion-content [fullscreen]="true">
  <div class="container">
    <ion-row class="top-bar">
      <ion-col size = "4">
        <ion-button size="small">
          <p class="learn butn">Learn</p>
        </ion-button>
      </ion-col>
      <ion-col size = "5">
      </ion-col>
      <ion-col size = "3">
        <ion-button size="small">
          <p class="points butn">{{ points }}</p>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div id = "container">
    <p id = "question" class="strong">{{ question }}</p>
      <ion-button class="answer butn" *ngFor="let ans of answer_options" expand="block" (click)="selectanswer($event, ans, correct_ans)">
        <p id="answer">
          {{ ans }}
        </p>
      </ion-button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        EndLess Quiz
      </ion-col>
      <ion-col size="2">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="mail-unread-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>