:root {
  --ion-font-family: 'My Custom Font';
  --ion-color-favorite: rgba(255,255,255,0.5);
  // --ion-color-favorite-rgb: 255,255,255;
  // --ion-color-favorite-contrast: #000;
  // --ion-color-favorite-contrast-rgb:0,0,0;
  // --ion-color-favorite-shade: #5ca56c;
  // --ion-color-favorite-tint: #78c288;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}

@font-face {
  font-family: 'My Custom Font';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/baloo-500.woff2');
}

@font-face {
  font-family: 'My Custom Font';
  font-style: normal;
  font-weight: bold;
  src: url('../../assets/fonts/baloo-700.woff2');
  color: rgba(0,0,0,0.5)
}

@font-face {
  font-family: 'My Custom Font';
  font-style: italic;
  font-weight: normal;
  src: url('../../assets/fonts/baloo-400.woff2');
}

@font-face {
  font-family: 'My Custom Font';
  font-style: italic;
  font-weight: bold;
  src: url('../../assets/fonts/baloo-700.woff2');
}

ion-content{
  --background: none;
  background-color:#00897B;
  // background-image: url('../../assets/maybeback.jpeg');
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.top-bar{
  margin-top:2.5%;
}

#questionandanswer {
  left: 0;
  right: 0;
}

#question{
  text-align: center;
  font-size: 180%;
  padding: 10%;
  font-weight:900;
  color:rgba(0,0,0,0.65)
}

p {
  color: rgba(255,255,255,0.5);
}

.answertext, .answertext :hover, .answertext :active{
  font-size: 75%;
  color: white;
  margin: auto;
}

.progress-bar-div{
  margin-left: 7.5%;
  width: 85%;
}

.answer {
  margin: 2%;
  background-color:black;
  opacity:0.5;
  border: 0.2rem;
  border-radius:1.5rem;
  padding: 5%;
  padding-top:10%;
  padding-bottom:10%;
  height:10%;
}

.answer :hover{
  background-color:black;
  opacity:0.3;
}

.answer :active{
  background-color:black;
  opacity:0.5;
}

.buttonhm{
  font-size: 100%;
  color: white;
  margin: 2%;
  background-color:black;
  opacity:0.5;
  border: 0.2rem;
  border-radius:0.5rem;
}

.points{
  text-align: center;
  color:rgba(0,0,0,0.65);
  font-size : 175%;
  font-weight: 800;
}

.learn, .skip{
  color: white;
  padding:5%;
  margin:2%;
}